# Ignore environment variable files
.env
.env.*
env.py

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Ignore logs
*.log

# Ignore virtual environment directories
venv/
ENV/
env/

# Ignore database files
*.sqlite3
*.db
*.db-journal

# Ignore Django specific files and directories
media/
staticfiles/
local_settings.py
*.pot
*.mo

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore system files
.DS_Store  # macOS
Thumbs.db  # Windows
ehthumbs.db # Windows

# Ignore build directories and artifacts
build/
dist/
*.egg-info/
*.egg

# Ignore Docker files
Dockerfile
docker-compose.yml
*.dockerignore

# Ignore test and coverage files
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.tox
*.nox
*.hypothesis/
.cache
.pytest_cache/
