@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 249, 249);
  min-height: 100vh;
}

.Main {
  padding-top: 83px;
  padding-bottom: 60px; /* Ensures space at the bottom of all pages */
}